* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: auto;
    background-color: whitesmoke;
    padding: 10px;

    nav {
        display: flex;
        float: inline-end;

        ul {
            list-style-type: none;

            li {
                display: inline;
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                margin-right: 25px;

                a {
                    color: rgb(23, 21, 21);
                    text-decoration: none;
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1)
                }
            }
        }
    }

}

body {
    background-image: url("../Imagem/Bannersun.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;

}

.capaImagem img {
    width: 180px;
    height: 60px;
    display: inline;
    border-radius: 50px;
}

.capaImagem {
    p {
        text-align: center;
        background-color: #ede6e6;
        text-decoration-line: overline;
    }
}

.HOME img {
    width: 120px;
    height: 70px;
    display: inline;
}

body {
    margin: 0;
}

footer {
    background-color: whitesmoke;
    padding: 10px;
    margin: 0;
    display: grid;
    place-items: center;

    p {
        color: black;
        padding: 5px;
    }

    .SIRIUS {
        width: 120px;
        height: 120px;
    }
}
.paroalto {

    text-align: center;
    color: rgb(255, 254, 254);
    font-size: 15px;
}
h1 {
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
    font-size: 30px;
}
.paroalto2 {
    text-align: center;
    color: white;
    text-shadow: yellow;
}