* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    background-image: url("../Imagem/Bannersun.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: whitesmoke;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  header a {
    text-decoration: none;
    color: black;
  }
  
  .HOME img {
    width: 120px;
    height: auto;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
  }
  
  .menu-toggle {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  h1, h2 {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: 20px;
  }
  h1 {
    font-size: 10px;
  }
  
  h2 {
    font-size: 10px;
  }
  .h3 {
    font-size: 20px;
  
  }
  
  .paroalto {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 10px;
  }
  
  p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  footer {
    background-color: whitesmoke;
    padding: 10px;
    margin: 0;
    display: grid;
    place-items: center;
    margin-top: 50px;

    p {
        color: black;
        padding: 5px;
    }

    .SIRIUS {
        width: 120px;
        height: 120px;

    }
}
  @media (max-width: 768px) {
    nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
    }
  
    nav ul.active {
      display: flex;
    }
  
    nav ul  a {
      color: white;
      padding: 10px;
      display: block;
    }
  
    .menu-toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1000;
    }
  
  
  }
  .paroalto2 {
    text-align: center;
    color: white;
}

.VIDEO {
    margin-bottom: 50px;
    margin-top: 50px;
}

.contato{
    form {
        max-width: 500px;
        margin: auto;
        padding: 10px;
    }
      
      input, textarea {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        margin-bottom: 10px;
      }
      
      button {
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
      }
      }
      .fase11 {
        display: inline;
        width: 360px;
        margin:auto;
        height: 450px;
        border-style: solid;
        }
        .fase12 {
        display: inline;
        width: 360px;
        margin:auto;
        height: 450px;
        border-style: solid;}
        .fase21 {
            display: inline;
            width: 360px;
            margin:auto;
            height: 450px;
            border-style: solid;
        }
        .fase22 {
                display: inline;
                width: 360px;
                margin:auto;
                height: 450px;
                border-style: solid;
            }
            .vilao {
                display: inline;
                width: 360px;
                margin:auto;
                height: 450px;
                border-style: solid;
            }
            .jogador {
                display: inline;
                width: 360px;
                margin:auto;
                height: 450px;
                border-style: solid;
            }
            .container {
                max-width: 700px;
                margin: auto;
                text-align: center;
                padding: 20px;
              }
              
              .faixa {
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                display: inline-block;
                margin-bottom: 20px;
              }
              
              iframe {
                width: 100%;
                max-width: 960px;
                height: 600px;
                margin: 20px 0;
                border: none;
              }
              
              .center .btn {
                color: white;
                text-decoration: none;
                padding: 10px 20px;
                margin: 5px;
                display: inline-block;
                border-radius: 5px;
              }
              .SOLVERM{
                width: 250px;
                height: 250px;
                display: inline;}
                .capaimagem {
                  width: 250px;
                  height: 250px;
                  display: block;
                  margin: 0 auto;
              }
              .capaimagem2 {
                width: 250px;
                height: 250px;
                display: block;
                margin: 0 auto;}